autostart/
cni/
Code/
dconf/
evolution/
gedit/
GIMP/
gthumb/
gtk*/
htop/
ibus*/
MusicBrainz/
nautilus/
openAV/
pulse/
qt*/
rncbc.org/
Signal/
terminator/
totem/
touchegg/
vic/
volumeicon/
xfce4/
vlc/
user*/
gnome-layout-switcher.conf
konsolerc
kwalletrc
manjaro-hello.json
mimeapps.list
QtProject.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported